<h1 class="text-center">RESTAURANTS</h1>

<% @restaurants.each do |restaurant| %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= restaurant.name %></h2>
          <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category %></h6>
          <p class="card-text"><%= restaurant.address %></p>
          <p class="card-text"><%= restaurant.phone_number %></p>
          <%= link_to 'Update Restaurant', edit_restaurant_path(restaurant) %> <br>
          <%= link_to 'See Restaurant', restaurant_path(restaurant) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
